### Simulation TCP port summary ##############################################

# Format: <device> -> <port> (<protocol>)
# system.uart0 -> 55010 (raw binary)
# system.uart1 -> 55011 (raw binary)
# system.ethoc -> 55012 (raw binary)
# system.cpu0  -> 55100 (GDB RSP)
# system.ocfbc -> 55200 (VNC RFB)
# system.ockbd -> 55200 (VNC RFB)

### General configuration ####################################################

system.name = spikevp
system.desc = try to use spike as iss
system.config = ${cfg}

# Specify the number of processors to instantiate in the simulation. Maximum
# allowed is 32. Override this on command line using -c system.nrcpus=X.
system.nrcpu = 1

# Specify simulation duration. Simulation will stop automatically once this
# time-stamp is reached. Use integer values with suffixes s, ms, us or ns. If
# you want to simulate infinitely, leave this commented out.
#  system.duration = 2s

# TLM global quantum, a higher value improves performance but reduces timing
# accuracy. Use integer values with suffixes s, ms, us or ns.
system.quantum  = 4us

### Memory and IO peripherals configuration ##################################

# Bus memory map
# system.mem   = 0x00000000..0x07ffffff
# system.uart0 = 0x90000000..0x90001fff
# system.uart1 = 0x91000000..0x91001fff
# system.ethoc = 0x92000000..0x92001fff
# system.ocfbc = 0x93000000..0x93001fff
# system.ockbd = 0x94000000..0x94001fff
# system.rtc   = 0x95000000..0x95001fff
# system.ocspi = 0x96000000..0x96001fff
# system.gpio  = 0x97000000..0x97001fff
# system.ompic = 0x98000000..0x98001fff
# system.hwrng = 0x99000000..0x99001fff
# system.sdhci = 0x9a000000..0x9a001fff

# Memory configuration
system.mem.size = 0x1000000000 # 4 GB
system.mem.images = ${dir}/../sw/opensbi/build/platform/generic/firmware/fw_jump.bin@0x00000000
#                    ${dir}/../sw/or1kmvp-up.dtb@0x04000000

### Per-CPU configuration ####################################################
